parameters:
	ignoreErrors:
		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: src/Project/App/Environment.php

		-
			message: '#^Method Attlaz\\Project\\Command\\RunFlow\:\:areArgumentsInStorage\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Project/Command/RunFlow.php

		-
			message: '#^Method Attlaz\\Project\\Command\\RunFlow\:\:getArgumentsFromStorage\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Project/Command/RunFlow.php

		-
			message: '#^Property Attlaz\\Project\\Helper\\AbstractHelper\:\:\$connectionPool \(Attlaz\\ConnectionPool\\ConnectionPool\) does not accept Attlaz\\Adapter\\Base\\Model\\Connection\\AdapterConnectionPool\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Project/Helper/AbstractHelper.php

		-
			message: '#^Class Attlaz\\Project\\Logger\\Logger extends @final class Monolog\\Logger\.$#'
			identifier: class.extendsFinalByPhpDoc
			count: 1
			path: src/Project/Logger/Logger.php
